*{margin: 0;padding: 0;}
body{
    background-color: #F4F4F4;
}
.banner{
    width: 1024px;
    height: 100px;
    display: flex;
    margin: auto;
    font-size: 14px;
    font-family: segoe ui;
}
.banner a{
    width: 50%;
    text-decoration: none;
}
.banner a img{
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}
.banner .user{
    width: 50%;
    color: #083767;
    text-align: right;
    padding-top: 10px;
}
.banner .user .dn{
    text-decoration: none;
    margin-right: 10px;
}

.banner .user .dn:hover{
    color: #0B9CA1;
}
.banner .user .dk{
    text-decoration: none;
    margin-left: 10px;
}

.banner .user .dk:hover{
    color: #0B9CA1;
}
/* het banner */
.menubg{
    width: 100%;
    height: 54px;
    background-color:#4B4A49;
    margin-bottom: 50px;
}
.menuto{
    width: 1200px;
    height: 100%;
    margin:auto;
    display: flex;
}
.menu{
    width: 60%;
    height: 50px;
    font-family: segoe ui light;
    font-size: 14px;
    display: flex;
    
}
.menu ._1item {
    height: 100%;
    position: relative;
    box-sizing: border-box;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-family: segoe ui;
}
.menu ._1item > a{
    display: block;
    padding: 16px 25px;
    transition: 0.1s;
}
.menu ._1item:hover > a{
    color: #289DCC;
}
.menu ._1item .l1 a{
    display: block;
    line-height: 100%;
}
.menu ._1item .l2{
    position: absolute;
    top:50px;
    left:0;
    opacity: 0;
    visibility: hidden;
    background-color: #333;
    transition: 0.3s;
}
.menu ._1item .l2 li{
    list-style: none;
    width: 160px;
    border-bottom: 1px solid #525252;
}
.menu ._1item .l2 li:hover{
    background-color: black;
}
.menu ._1item .l2 a{
    color: #DEDEDE;
    font-size: 12px;
    display: block;
    padding: 15px;
    width: 180px;
}
.menu ._1item:hover .l2{
    opacity: 1;
    visibility: visible;
}
.menuto .search{
    width: 40%;
    height: 100%;
    text-align: right;
}
.menuto .search input{
    height: 20px;
    margin-top: 15px;
}
.menuto .search .fa{
    font-size: 20px;
    color: white;
    margin-right: 20px;
}
/* het menu */

.main{
    margin-top: 50px;
    width: 1200px;
    border: 1px solid #EEE;
    margin: auto;
}
.main .sachhl{
    width: 1170px;
    height: 630px;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 1% 1% 1%;
    font-family: segoe ui;
}
.main .sachhl ._1sach{
    width: 16.6%;
    text-align: center;
}
.main .sachhl ._1sach img{}
.main .sachhl ._1sach a{
    color: #083767;
    display: block;
    text-decoration: none;
    font-size: 15px;
}
.main .sachhl ._1sach a:hover{
    color: #0B9CA1;
}
/* het sach hight ligt  */
.sachmoi{
    width: 1200px;
    padding: 15px;
    box-sizing:border-box;
}
.sachmoi .bannersm{
    border-bottom:1px solid black ;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.sachmoi ._1sach{
    display: flex;
    border-bottom: 1px dashed #CCC;
    padding-bottom: 10px;
    margin-top: 1px;
}
.sachmoi ._1sach .chu{
}

.sachmoi ._1sach .chu a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 10px 5px;
}
.sachmoi ._1sach .chu p{
    color: #666;
    font-size: 13px;
    margin: 10px 5px;
}
/* het sach moi */
/* het sach giua  */
.sachcuoi{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.sachcuoi ._1sach{
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}
.sachcuoi ._1sach .anhvachu{
    position: relative;
    text-align: center;
    
}
.sachcuoi ._1sach .anhvachu .anh img{
    width: 90%;

}
.sachcuoi ._1sach .anhvachu .chu{
    width: ;
    position: absolute;
    background-color: #2d67b1;
    left: 14px;
    top: -1px;

}
.sachcuoi ._1sach .anhvachu a{
    text-align: center; 
    color: white;
    text-decoration: none;
    font-family: segoe ui;
    font-size: 14px;
    padding: 8px 15px;
    
}
.sachcuoi ._1sach .chuduoi{
    margin-bottom: 50px;
    padding-left:  10px;
}
.sachcuoi ._1sach .chuduoi a.chuto{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    line-height: 38px;
}
.sachcuoi ._1sach .chuduoi .chunho {
    color: #666;
    font-size: 16px;
    font-family: segoe ui;
    border-bottom:  1px solid #EEE; 
    padding-bottom: 10px;
}
.sachcuoi ._1sach .chuduoi .nguoidang{
    display: flex;
}
.sachcuoi ._1sach .chuduoi .nguoidang p{
    color: #666;
    font-size: 15px;
    font-family: segoe ui;
    margin-top: 3px;
}
.sachcuoi  ._1sach .chuduoi .nguoidang a{
    text-decoration: none;
    font-size: 18px;
    font-family: segoe ui;
    margin-left: 5px;
    color: #083767;
}
.sachcuoi  ._1sach .chuduoi .nguoidang a:hover{
    color: #0B9CA1;
}
/* het sach  */
.lienhe{
    width: 1200px;
    margin:30px auto;}
.lienhe .cot1{
    width: 25%;
}
.lienhe .cot1 ul{
    font-size: 15px;
    color: #666;
    font-family: segoe ui;
}
.lienhe .cot1 ul li{
    list-style: none;
    margin-bottom: 13px;
}
.lienhe .cot1 ul li a{
    text-decoration: none;
    color: #083767;
}
.lienhe .cot1 ul li a:hover{
    color: #0B9CA1;
}
/* het liên hệ  */
.footer{
    width: 100%;
    height: 30px;
    background-color: #24C9CF;
    margin-bottom: 10px;
    text-align: center;
}
.footer .chu{
    color: white;
    font-size: 15px;
    font-family: segoe ui;
}
/* het  */